
.start h1{
    text-align: center;
    color: #FF0000;
    font-size: 82px;
    line-height: 109.47px;
    text-decoration: underline;  
}
.start h2{
    color: #FFFFFF;
    text-align: center;
    line-height: 85.44px;
    font-size: 64px;
}
